# cd /home/pi/Q100/q100txtransmitter/_INSTALL
# sudo cp q100transmitter.service /etc/systemd/system/
# sudo chmod 644 /etc/systemd/system/q100transmitter.service
# sudo systemctl daemon-reload
#
# sudo systemctl enable q100transmitter
# sudo systemctl start q100transmitter
#
# sudo systemctl status q100transmitter
#
# sudo systemctl stop q100transmitter
# sudo systemctl disable q100transmitter

[Unit]
Description=q100paserver to control and monitor DATV equipment
After=mult-user.target

[Service]
User=pi

#WorkingDirectory=/home/pi/Q100/q100transmitter

Type=simple

Restart=always
#Restart=on-failure
#RestartSec=5

#SuccessExitStatus=143

#TimeoutStopSec=10

ExecStart=/home/pi/Q100/q100transmitter/q100transmitter

[Install]
WantedBy=multi-user.target
