# cd /home/pi/Q100/q100transmitter/etc
# sudo cp q100transmitter.service /etc/systemd/system/
# sudo chmod 644 /etc/systemd/system/q100transmitter.service
# sudo systemctl daemon-reload
#
# sudo systemctl enable q100transmitter
# sudo systemctl start q100transmitter
#
# sudo systemctl status q100transmitter
#
# sudo systemctl stop q100transmitter
# sudo systemctl disable q100transmitter

[Unit]
Description=Q-100 Transmitter
Wants=graphical.target network-online.target
After=graphical.target network-online.target

[Service]
User=pi
Group=pi
StandardOutput=append:/home/pi/Q100/transmitter.log
StandardError=append:/home/pi/Q100/transmitter.log
#Environment="XDG_RUNTIME_DIR=/run/user/1000"
Environment="DISPLAY=:0"
WorkingDirectory=/home/pi/Q100/q100transmitter
ExecStart=/home/pi/Q100/q100transmitter/q100transmitter -shutdown

[Install]
WantedBy=graphical.target  network-online.target

